<article class="container">
    <div class="row">
        <h1>
            <div class="pull-right">
                <p><a href="/conferences/new"
                      class="btn btn-primary">Plan new Conference</a></p>
            </div>
            Conferences
        </h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">wroc_love.rb 2016</h2>
            </div>
            <div class="panel-body">
                <p>2 events, 3 days, 11&ndash;13th of March 2016</p>
                <ul>
                    <li><a href="/conferences/active-conference/events">Accepted Events</a></li>
                    <li><a href="/conferences/active-conference/plan">Plan Agenda</a></li>
                    <li><a href="/conferences/active-conference/days">Conference Days</a></li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">wroc_love.rb 2015</h2>
            </div>
            <div class="panel-body">
                <p>2 events, 3 days, 13&ndash;15th of March 2015</p>
                <ul>
                    <li><a href="/conferences/active-conference/events">Accepted Events</a></li>
                    <li><a href="/conferences/active-conference/plan">Plan Agenda</a></li>
                    <li><a href="/conferences/active-conference/days">Conference Days</a></li>
                </ul>
            </div>
        </div>
    </div>
</article>