<article class="container">
    <div class="row">
        <h1>
            <div class="pull-right">
              <div class="btn-group">
                <a href="/" class="btn btn-default">Back</a>
                <a data-toggle="collapse" href="#add-conference-form" 
                   class="btn btn-primary">Plan new&hellip;</a>
              </div>
            </div>
            Conferences
        </h1>
        <div id="add-conference-form" class="collapse">
          <div class="well">
            <form>
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="ex. wroc_love.rb 2016" />
              </div>             
              <button type="submit" class="btn btn-primary">Plan</button>
            </form>
          </div>
        </div>        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                  <div class="pull-right">
                    <a href="/conferences/active-conference" class="btn btn-primary btn-xs">Show</a>
                  </div>   
                  wroc_love.rb 2016
                </h2>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                  <h4>Events</h4>
                  <ul class="list-group">
                    <li class="list-group-item">Working with Legacy Codebase</li>
                    <li class="list-group-item">React.js &plus; Redux Workshops</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h4>Days</h4>
                  <ul class="list-group">
                    <li class="list-group-item">Day 1</li>
                    <li class="list-group-item">Day 2</li>
                    <li class="list-group-item">Day 3</li>
                  </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
                <div class="pull-right">
                  <a href="/conferences/past-conference" class="btn btn-default btn-xs">Show</a>
                </div>   
                wroc_love.rb 2015
              </h2>
            </div>
            <div class="panel-body">
              <div class="col-md-6">
                <h4>
                  Events</h4>
                <p><i>No events defined.</i></p>
              </div>
              <div class="col-md-6">
                <h4>
                  Days
                </h4>
                <p><i>No days defined.</i></p>
              </div>
              <div class="col-md-12">
                <div class="alert alert-warning">
                  <p>This is a past conference. Data available here is read-only!</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</article>
