<article class="container">
    <div class="row">
        <h1>
            <div class="pull-right">
                <p><a href="/conferences/new"
                      class="btn btn-primary">Plan new Conference</a></p>
            </div>
            Conferences
        </h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                  <div class="pull-right">
                    <a href="/conferences/active-conference" class="btn btn-primary btn-xs">Show</a>
                  </div>   
                  wroc_love.rb 2016
                </h2>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                  <h4>
                    <div class="pull-right">
                      <a href="/conferences/past-conference/events" class="btn btn-primary btn-xs">Manage</a>
                    </div>
                    Events</h4>
                  <ul class="list-group">
                    <li class="list-group-item">Working with Legacy Codebase</li>
                    <li class="list-group-item">React.js &plus; Redux Workshops</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h4>
                    <div class="pull-right">
                      <a href="/conferences/past-conference/days" class="btn btn-primary btn-xs">Manage</a>
                    </div>
                    Days
                  </h4>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <div class="pull-right">
                        <a href="/conferences/active-conference/days/day-1/plan" class="btn btn-primary btn-xs">Agenda</a>
                      </div>
                      Day 1</li>
                    <li class="list-group-item">
                      <div class="pull-right">
                        <a href="/conferences/active-conference/days/day-2/plan" class="btn btn-primary btn-xs">Agenda</a>
                      </div>
                      Day 2
                    </li>
                    <li class="list-group-item">
                      <div class="pull-right">
                        <a href="/conferences/active-conference/days/day-3/plan" class="btn btn-primary btn-xs">Agenda</a>
                      </div>
                      Day 3
                    </li>
                  </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
                <div class="pull-right">
                  <a href="/conferences/past-conference" class="btn btn-primary btn-xs">Show</a>
                </div>   
                wroc_love.rb 2015
              </h2>
            </div>
            <div class="panel-body">
              <div class="col-md-6">
                <h4>
                  <div class="pull-right">
                    <a href="/conferences/past-conference/events" disabled class="btn btn-default btn-xs">Manage</a>
                  </div>
                  Events</h4>
                <p>No events defined.</p>
              </div>
              <div class="col-md-6">
                <h4>
                  <div class="pull-right">
                    <a href="/conferences/past-conference/days" disabled class="btn btn-default btn-xs">Manage</a>
                  </div>
                  Days
                </h4>
                <p>No days defined.</p>
              </div>
              <div class="col-md-12">
                <div class="alert alert-warning">
                  <p>This is a past conference. Data available here is read-only!</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</article>
