<article class="container">
  <div class="row">
    <h1>
      <div class="pull-right">
        <div class="btn-group">
          <a href="/conferences" class="btn btn-default">Back</a>
          <button class="btn btn-danger">Delete</button>
        </div>
      </div>
      wroc_love.rb 2016</h1>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <div class="pull-right">
              <a href="/conferences/active-conference/events" class="btn btn-primary btn-xs">Manage</a>
            </div>
            Events
          </h2>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <h4>Working with Legacy Code<br />
                  <small>By Andrzej Krzywda</small></h4>
              <h6>Description</h6>
              <p>I'll show cool tricks to make your legacy codebase maintainable and make it easy to add new features without introducing regressions.</p>
              <p><i>This event takes 60 minutes.</i></p>
              <div class="alert alert-success">This event is scheduled for <strong>Day 1</strong> of the conference at 18:00 AM.</div>
            </li>
            <li class="list-group-item">
              <h4>React.js &plus; Redux Workshops<br />
                  <small>By Marcin Grzywaczewski</small></h4>
              <p><i>No description provided.</i></p>
              <p><i>This event takes 310 minutes.</i></p>
              <div class="alert alert-warning">This event is not scheduled yet!</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <div class="pull-right">
              <a href="/conferences/active-conference/conference_days" class="btn btn-primary btn-xs">Manage</a>
            </div>
            Days
          </h2>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <h4>Day 1</h4>
              <p>This day begins on 2016-03-11, 11:00:00 CET and ends on 2016-03-11, 23:00:00 CET.</p>
              <h5>Agenda <a href="/conference_days/day-1/conference_day_plan" class="btn btn-primary btn-xs">Manage</a></h5>
              <ul>
                <li><strong>13:00&ndash;14:00</strong> Working with Legacy Code</li>
              </ul>
            </li>
            <li class="list-group-item">
              <h4>Day 2</h4>
              <p>This day begins on 2016-03-12, 10:00:00 CET and ends on 2016-03-12 23:00:00 CET.</p>
              <h5>Agenda <a href="/conference_days/day-2/conference_day_plan" class="btn btn-primary btn-xs">Manage</a></h5>
              <p><i>No agenda yet.</i></p>
            </li>
            <li class="list-group-item">
              <h4>Day 3</h4>
              <p>This day begins on 2016-03-13, 10:00:00 CET and ends on 2016-03-13 23:00:00 CET.</p>
              <h5>Agenda <a href="/conference_days/day-3/conference_day_plan" class="btn btn-primary btn-xs">Manage</a></h5>
              <p><i>No agenda yet.</i></p>
            </li>
        </div>
      </div>
    </div>
  </div>
</article>
