<div class="container">
  <div class="row">
    <h1>
        <div class="pull-right">
          <div class="btn-group">
            <a href="/conferences/active-conference" class="btn btn-default">Back</a>
            <button class="btn btn-primary">Accept new&hellip;</button>
          </div>
        </div>
        wroc_love.rb 2016
        <br />
        <small>Events</small>
    </h1>
    <div class="panel panel-default">
      <div class="panel-heading">        
        <div class="pull-right btn-group">          
          <button class="btn btn-default btn-xs">Modify</button>
          <button class="btn btn-danger btn-xs">Delete</button>
        </div>
        <h2 class="panel-title">Working with Legacy Code</h2>          
      </div>
      <div class="panel-body">
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <p><strong>Host:</strong> Andrzej Krzywda</p>
              <p><strong>Time in minutes:</strong> 60</p>                
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <p><i>I'll show cool tricks to make your legacy codebase maintainable and make it easy to add new features without introducing regressions.</i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">        
        <div class="pull-right btn-group">          
          <button class="btn btn-default btn-xs">Modify</button>
          <button class="btn btn-danger btn-xs">Delete</button>
        </div>
        <h2 class="panel-title">React.js &plus; Redux Workshops</h2>          
      </div>
      <div class="panel-body">
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <p><strong>Host:</strong> Marcin Grzywaczewski</p>
              <p><strong>Time in minutes:</strong> 310</p>                
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <p><i>No description provided.</i></p>
            </div>
          </div>
        </div>
      </div>
    </div>        
  </div>
</div>
