<div class="container">
  <div class="row">
    <h1>
      <div class="pull-right">
        <div class="btn-group">
          <a href="/conferences/active-conference" class="btn btn-default">Back</a>
          <a class="btn btn-primary" 
             data-toggle="collapse" 
             href="#add-conference-day-form">Schedule new&hellip;</a>
        </div>
      </div>
      wroc_love.rb 2016
      <br />
      <small>Days</small>      
    </h1>
    <div id="add-conference-day-form" class="collapse">
      <div class="well">
        <form>
          <div class="form-group">
            <label for="label">Label:</label>
            <input type="text" class="form-control" id="label" placeholder="ex. Day 1" />
          </div>        
          <div class="form-group">
            <label for="start">From:</label>
            <input type="date" class="form-control" id="start" placeholder="ex. 2015-03-11 10:00" />
          </div>
          <div class="form-group">
            <label for="finish">To:</label>
            <input type="date" class="form-control" id="finish" placeholder="ex. 2015-03-11 22:00" />          
          </div>
          <button type="submit" class="btn btn-primary">Schedule</button>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <div class="btn-group">
            <a href="/conference_days/day-1/conference_day_plan" class="btn btn-primary btn-xs">
              Agenda
            </a>
            <button class="btn btn-danger btn-xs">Delete</button>
          </div>
        </div>
        <h2 class="panel-title">Day 1</h2>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <h4>Time slice</h4>
          <p><strong>From:</strong> 2016-03-11 11:00 CET</p>
          <p><strong>To:</strong> 2016-03-11 23:00 CET</p>
        </div>
        <div class="col-md-6">
          <h4>Agenda</h4>
          <ul class="list-group">
            <li class="list-group-item">
              <strong>13:00&ndash;14:00</strong> Working with Legacy Code <small>by Andrzej Krzywda</small></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <div class="btn-group">
            <a href="/conference_days/day-2/conference_day_plan" class="btn btn-primary btn-xs">
              Agenda
            </a>
            <button class="btn btn-danger btn-xs">Delete</button>
          </div>
        </div>
        <h2 class="panel-title">Day 2</h2>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <h4>Time slice</h4>
          <p><strong>From:</strong> 2016-03-12 11:00 CET</p>
          <p><strong>To:</strong> 2016-03-12 23:00 CET</p>
        </div>
        <div class="col-md-6">
          <h4>Agenda</h4>
          <div class="alert alert-warning">No agenda defined.</div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <div class="btn-group">
            <a href="/conference_days/day-3/conference_day_plan" class="btn btn-primary btn-xs">
              Agenda
            </a>
            <button class="btn btn-danger btn-xs">Delete</button>
          </div>
        </div>
        <h2 class="panel-title">Day 3</h2>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <h4>Time slice</h4>
          <p><strong>From:</strong> 2016-03-13 11:00 CET</p>
          <p><strong>To:</strong> 2016-03-13 23:00 CET</p>
        </div>
        <div class="col-md-6">
          <h4>Agenda</h4>
          <div class="alert alert-warning">No agenda defined.</div>
        </div>
      </div>
    </div>    
  </div>
</div>
