<article class="container">
    <div class="row">
        <h1>
            <div class="pull-right">
                <p><a href="/conferences" class="btn btn-primary">Detailed View</a></p>
            </div>
            Conferences
        </h1>
        <section>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right">
                        <a href="/conferences/active-conference"
                           class="btn btn-primary btn-xs">Show</a>
                    </div>
                    <h3 class="panel-title">wroc_love.rb 2016</h3>
                </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="pull-right">
                  <a href="/conferences/past-conference"
                     class="btn btn-primary btn-xs">Show</a>
                </div>
                <h3 class="panel-title">wroc_love.rb 2015</h3>
              </div>
            </div>
        </section>
    </div>
</article>
